body {
  font-family: "segoe UI", "Helvetica neue" , Helvetica, Arial, sans-serif;
  margin: 0;
  background: #ECF0F1;
  background: #222;
}

body::-webkit-scrollbarb {
  display: none;
}
.welcome {
  color: white;
  font-family: "Baloo Bhsi", sans-serif;
}

a {
  text_decoration: none;
  color: #eee;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
